<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record model="ir.actions.act_window" id="action_coa">
        <field name="name">Assay Result Barge</field>
        <field name="res_model">qaqc.coa.order</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="action_qaqc_assay_pile">
        <field name="name">Assay Result Stockyard</field>
        <field name="res_model">qaqc.assay.pile</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>  
    
    <record model="ir.actions.act_window" id="action_surveyor">
        <field name="name">Surveyor</field>
        <field name="res_model">res.partner</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{"search_default_is_surveyor":1}</field>
    </record>
    
    <record model="ir.actions.act_window" id="action_chemical_element">
        <field name="name">Ore Specification</field>
        <field name="res_model">qaqc.chemical.element</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="action_qaqc_density">
        <field name="name">Densities</field>
        <field name="res_model">qaqc.density</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>
  

    <menuitem id="qaqc_top" name="QAQC" sequence="3" web_icon="mining_qaqc,static/description/icon.png" />

    <menuitem id="qaqc_sub" name="QAQC" sequence="1" 
			parent="qaqc_top"/>
    
        <menuitem name="Assay Result Barge"
                id="qaqc_coa"
                parent="qaqc_sub" 
                action="action_coa"
                sequence= "1"
                />

        <menuitem name="Assay Result Stockyard"
                id="qaqc_assay_pile"
                parent="qaqc_sub"
                action="action_qaqc_assay_pile"
                sequence= "2"
                />
    
    <menuitem id="qaqc_surveyor" 
            name="Surveyor" 
            sequence="2" 
			parent="qaqc_top"
            action="action_surveyor"
            groups="qaqc_group_manager"
            />
    

    <menuitem id="qaqc_report" name="Report" sequence="98" 
            parent="qaqc_top"
            groups="qaqc_group_manager"
            />

    <menuitem id="qaqc_config" name="Configuration" sequence="99" 
			parent="qaqc_top"
            groups="qaqc_group_manager"
            />
    
        <menuitem name="Ore Specification"
                id="qaqc_chemical_element"
                parent="qaqc_config" 
                action="action_chemical_element"
                sequence= "1"
                />
        <menuitem name="Densities"
                id="qaqc_density"
                parent="qaqc_config" 
                action="action_qaqc_density"
                sequence= "1"
                />

</odoo>
